In [1]:
!pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from -r requirements.txt (line 1)) (2.2.3)
Requirement already satisfied: numpy in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from -r requirements.txt (line 2)) (1.26.4)
Requirement already satisfied: scikit-learn in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from -r requirements.txt (line 3)) (1.6.1)
Requirement already satisfied: tensorflow in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from -r requirements.txt (line 4)) (2.18.0)
Requirement already satisfied: tensorboard in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from -r requirements.txt (line 5)) (2.18.0)
Requirement already satisfied: matplotlib in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from -r requirements.txt (line 6)) (3.10.0)
Requirement already satisfied: streamlit in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from -r requirements.txt (line 7)) (1.41.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2025.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (3.5.0)
Requirement already satisfied: tensorflow-intel==2.18.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow->-r requirements.txt (line 4)) (2.18.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (3.4.0)
Requirement already satisfied: packaging in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (5.29.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (2.32.3)
Requirement already satisfied: setuptools in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (65.5.0)
Requirement already satisfied: six>=1.12.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (1.70.0)
Requirement already satisfied: keras>=3.5.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (3.8.0)
Requirement already satisfied: h5py>=3.11.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (3.13.0)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.4.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (0.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (0.31.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (3.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (4.55.8)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (1.4.8)
Requirement already satisfied: pillow>=8 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (3.2.1)
Requirement already satisfied: altair<6,>=4.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (5.5.1)
Requirement already satisfied: click<9,>=7.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (8.1.8)
Requirement already satisfied: pyarrow>=7.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (19.0.0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (13.9.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (0.10.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (6.4.2)
Requirement already satisfied: jinja2 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (3.1.5)
Requirement already satisfied: jsonschema>=3.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (1.23.0)
Requirement already satisfied: colorama in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from click<9,>=7.0->streamlit->-r requirements.txt (line 7)) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7)) (4.0.12)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (2024.12.14)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from rich<14,>=10.14.0->streamlit->-r requirements.txt (line 7)) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from rich<14,>=10.14.0->streamlit->-r requirements.txt (line 7)) (2.19.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from werkzeug>=1.0.1->tensorboard->-r requirements.txt (line 5)) (3.0.2)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (0.45.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7)) (5.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (24.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (0.36.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (0.22.3)
Requirement already satisfied: namex in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (0.0.8)
Requirement already satisfied: optree in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from keras>=3.5.0->tensorflow-intel==2.18.0->tensorflow->-r requirements.txt (line 4)) (0.14.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\vikrant vivek deo\appdata\local\programs\python\python310\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit->-r requirements.txt (line 7)) (0.1.2)

In [2]:
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle #We can reuse this when we are doing the deployment

In [4]:
data=pd.read_csv("Churn_Modelling.csv")

In [5]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
#The rownumber, customerid and surname are not important features

In [7]:
#Preprocessing the data by droppingthe irrelevant features

In [8]:
data=data.drop(["RowNumber","CustomerId","Surname"],axis=1)

In [9]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [10]:
#Geography and Gender are categorical variables

In [11]:
#I am going to apply encoding for categorical variables

In [12]:
label_encoder_gender=LabelEncoder()

In [13]:
data["Gender"]=label_encoder_gender.fit_transform(data["Gender"])

In [14]:
data["Gender"].unique()

array([0, 1])

In [15]:
data["Geography"].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [16]:
data["Geography"].nunique()

3

In [17]:
data["Geography"].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [18]:
#I am using OHE instead of label encoding on Geography column as I don't want spain to have more valur than germany or vice versa

In [19]:
#OHE Geography
from sklearn.preprocessing import OneHotEncoder

In [20]:
one_hot_encoder_geo= OneHotEncoder(sparse_output=False) #sparse_output=False converts to 2d numpy array which contains zero elements, 
#not memory efficient but suitable for smaller datasets
#When you set sparse_output=True in OneHotEncoder, the output is a sparse matrix instead of a dense NumPy array. 
#This means the encoder stores only nonzero values and their positions, instead of storing the entire matrix with zeros.

In [21]:
geo_encoder=one_hot_encoder_geo.fit_transform(data[["Geography"]]) #The reason for using [[]] is because OHE returns a 2d dataframe, not a 1d list.

In [22]:
geo_encoder.shape

(10000, 3)

In [23]:
one_hot_encoder_geo.get_feature_names_out(["Geography"])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [24]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=one_hot_encoder_geo.get_feature_names_out(["Geography"]))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [25]:
#Combine OHE columns with the original data

In [26]:
data=pd.concat([data.drop("Geography", axis=1), geo_encoded_df] ,axis=1)

In [27]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [28]:
#Saving the encoders with pickle file
with open("label_encoder_gender.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)

with open("one_hot_encoder_geo.pkl","wb") as file:
    pickle.dump(one_hot_encoder_geo,file)

In [29]:
#Dividing the dataset into independent and dependent features

In [30]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [31]:
#Exit will be the dependent feature and the rest will be independent

In [32]:
X=data.drop(["Exited"],axis=1)

In [33]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,1.0,0.0,0.0

In [34]:
y=data["Exited"]

In [35]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [36]:
#Now splitting the data into training and testing sets:

In [37]:
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.2,random_state=42)
#Scale the features:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [38]:
(X_train.shape[1],)

(12,)

In [39]:
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

In [40]:
#ANN Implementation

In [41]:
import tensorflow as tf

In [42]:
#When we start creating our ANN, we have to initialize sequetial network
#In keras we use class Dense for creating hidden layers

In [43]:
from tensorflow.keras.models import Sequential

In [44]:
from tensorflow.keras.layers import Dense

In [45]:
from tensorflow.keras.layers import Input

In [46]:
from tensorflow.keras.callbacks import EarlyStopping

In [47]:
from tensorflow.keras.callbacks import TensorBoard

In [48]:
import datetime

In [49]:
X_train.shape

(8000, 12)

In [50]:
#Build our ANN model:
model=Sequential([
    #I need to check the shape of my inputs
    Input(shape=(X_train.shape[1],)),
    Dense(64,activation="relu"), #This is the first hidden layer connected to the input layer
    #For second hidden layer we don't have to write the input shape, it is needed only for the first
    Dense(32,activation="relu"), #HL2
    Dense(1,activation="sigmoid")
])

In [51]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 64)                  │             832 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [52]:
#Another way to compile the model 
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.1)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [53]:
#compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=["accuracy"])

In [54]:
#Setup the tensorboard

In [69]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
log_dir="logs/fit"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [70]:
#Setup EarlyStopping:
early_stopping_callback=EarlyStopping(monitor="val_loss",patience=25,restore_best_weights=True)

In [71]:
history=model.fit(X_train,Y_train,validation_data=(X_test,Y_test),epochs=100,callbacks=[tensorflow_callback,early_stopping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8539 - loss: 0.3824 - val_accuracy: 0.7985 - val_loss: 0.4445
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8495 - loss: 0.3804 - val_accuracy: 0.8590 - val_loss: 0.4561
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8562 - loss: 0.3737 - val_accuracy: 0.8595 - val_loss: 0.3679
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8557 - loss: 0.3750 - val_accuracy: 0.8585 - val_loss: 0.3817
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8579 - loss: 0.3617 - val_accuracy: 0.8595 - val_loss: 0.3664
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8539 - loss: 0.3773 - val_accuracy: 0.8595 - val_loss: 0.3669
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8559 - loss: 0.3620 - val_accuracy: 0.8610 - val_loss: 0.3838
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8501 - loss: 0.3864 - val_accuracy: 0.8560 - val_loss: 0.3745
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8580 - loss: 0.3679 - val_accuracy: 0.8320 - val_loss: 0.3891
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8558 - loss: 0.3694 - val_accuracy: 0.8600 - val_loss: 0.3612
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8571 - loss: 0.3681 - val_accuracy: 0.8510 - val_loss: 0.3765
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8541 - loss: 0.3666 - val_accuracy: 0.8590 - val_loss: 0.3723
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8555 - loss: 0.3629 - val_accuracy: 0.8580 - val_loss: 0.3609
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8532 - loss: 0.3700 - val_accuracy: 0.8590 - val_loss: 0.3731
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8509 - loss: 0.3804 - val_accuracy: 0.8600 - val_loss: 0.3882
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8496 - loss: 0.3885 - val_accuracy: 0.8585 - val_loss: 0.3728
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8564 - loss: 0.3626 - val_accuracy: 0.8530 - val_loss: 0.3935
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8574 - loss: 0.3650 - val_accuracy: 0.8550 - val_loss: 0.3724
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8675 - loss: 0.3616 - val_accuracy: 0.8585 - val_loss: 0.3743
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8570 - loss: 0.3725 - val_accuracy: 0.8530 - val_loss: 0.3740
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8532 - loss: 0.3656 - val_accuracy: 0.8590 - val_loss: 0.3635
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8514 - loss: 0.3650 - val_accuracy: 0.8570 - val_loss: 0.3603
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8537 - loss: 0.3710 - val_accuracy: 0.8580 - val_loss: 0.3621
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8564 - loss: 0.3720 - val_accuracy: 0.8590 - val_loss: 0.3654
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8561 - loss: 0.3730 - val_accuracy: 0.8590 - val_loss: 0.3860
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8531 - loss: 0.3836 - val_accuracy: 0.8610 - val_loss: 0.4087
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8558 - loss: 0.3629 - val_accuracy: 0.8555 - val_loss: 0.3669
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8598 - loss: 0.3650 - val_accuracy: 0.8485 - val_loss: 0.3802
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8508 - loss: 0.3782 - val_accuracy: 0.8570 - val_loss: 0.3990
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8568 - loss: 0.3653 - val_accuracy: 0.8575 - val_loss: 0.3857
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8546 - loss: 0.3773 - val_accuracy: 0.8580 - val_loss: 0.3726
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8512 - loss: 0.3771 - val_accuracy: 0.8575 - val_loss: 0.3720
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8553 - loss: 0.3704 - val_accuracy: 0.8575 - val_loss: 0.4185
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8455 - loss: 0.3939 - val_accuracy: 0.8595 - val_loss: 0.3714
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8548 - loss: 0.3650 - val_accuracy: 0.8575 - val_loss: 0.4043
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8516 - loss: 0.3758 - val_accuracy: 0.8580 - val_loss: 0.3680
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8593 - loss: 0.3534 - val_accuracy: 0.8560 - val_loss: 0.3704
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8618 - loss: 0.3544 - val_accuracy: 0.8570 - val_loss: 0.3930
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8505 - loss: 0.3777 - val_accuracy: 0.8565 - val_loss: 0.3652
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8496 - loss: 0.3778 - val_accuracy: 0.8580 - val_loss: 0.3793
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8577 - loss: 0.3644 - val_accuracy: 0.8570 - val_loss: 0.3624
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8495 - loss: 0.3740 - val_accuracy: 0.8555 - val_loss: 0.3595
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8577 - loss: 0.3702 - val_accuracy: 0.8600 - val_loss: 0.3754
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8556 - loss: 0.3698 - val_accuracy: 0.8575 - val_loss: 0.3830
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8533 - loss: 0.3687 - val_accuracy: 0.8530 - val_loss: 0.3688
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8526 - loss: 0.3680 - val_accuracy: 0.8550 - val_loss: 0.3699
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8500 - loss: 0.3790 - val_accuracy: 0.8600 - val_loss: 0.3729
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8549 - loss: 0.3664 - val_accuracy: 0.8570 - val_loss: 0.3703
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8542 - loss: 0.3805 - val_accuracy: 0.8595 - val_loss: 0.3733
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8591 - loss: 0.3490 - val_accuracy: 0.8590 - val_loss: 0.4284
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8551 - loss: 0.3698 - val_accuracy: 0.8570 - val_loss: 0.3613
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8526 - loss: 0.3808 - val_accuracy: 0.8530 - val_loss: 0.3814
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8506 - loss: 0.3686 - val_accuracy: 0.8530 - val_loss: 0.3638
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8544 - loss: 0.3691 - val_accuracy: 0.8570 - val_loss: 0.3773
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8536 - loss: 0.3834 - val_accuracy: 0.8530 - val_loss: 0.3736
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8530 - loss: 0.3718 - val_accuracy: 0.8600 - val_loss: 0.3828
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8606 - loss: 0.3643 - val_accuracy: 0.8570 - val_loss: 0.3742
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8599 - loss: 0.3602 - val_accuracy: 0.8575 - val_loss: 0.3773
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8490 - loss: 0.3820 - val_accuracy: 0.8520 - val_loss: 0.3805
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8564 - loss: 0.3570 - val_accuracy: 0.8560 - val_loss: 0.4045
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8551 - loss: 0.3724 - val_accuracy: 0.8565 - val_loss: 0.3677
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8580 - loss: 0.3710 - val_accuracy: 0.8585 - val_loss: 0.3770
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8607 - loss: 0.3604 - val_accuracy: 0.8590 - val_loss: 0.3760
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8553 - loss: 0.3745 - val_accuracy: 0.8595 - val_loss: 0.3819
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8565 - loss: 0.3689 - val_accuracy: 0.8595 - val_loss: 0.3749
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8627 - loss: 0.3599 - val_accuracy: 0.8550 - val_loss: 0.3819
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8580 - loss: 0.3739 - val_accuracy: 0.8585 - val_loss: 0.3806

In [72]:
#This only ran to 7 epochs for patience=5, now let's increase it to 10 and see the results:

In [73]:
model.save("model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [77]:
#Load Tensorboard extenssion
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [83]:
%tensorboard --logdir logs/fit --port=6007

In [80]:
%reload_ext tensorboard